body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

div {
    width: 250px;
    height: 200px;
    box-shadow: 13px 13px 15px #cbced1, -13px -13px 15px #fff;
    text-align: center;
    border-radius: 20px;
}